@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    background: rgb(238, 238, 238);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    position: relative;
    font-size: 1rem;
    color: #000;
}

.nav-link::before {
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -20%;
    transform: translate(-50%, -50%);
    background: #717CFF;
    width: 0%;
    height: 2px;
    transition: 0.7s;
}

.nav-link:hover::before {
    width: 50%;
}

.hero__section {
    margin-top: 15em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero__inner__content {
    display: block;
}

.hero___title h1 {
    font-size: 4em;
}

.hero___title p {
    color: #5d5d5d;
    margin-top: 1em;
    line-height: 1.7em;
}

.hero__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.8em;
    width: 170px;
    height: 48px;
    font-size: 1em;
    border: none;
    border-radius: 6px;
    outline: none;
    background: #717CFF;
    color: #fff;
    cursor: pointer;
}

.hero__btn:hover i {
    transform: translate(10px);
}

.hero__btn i {
    padding: 0.5em;
    transition: 0.5s;
}

.hero__socmedia {
    margin-top: 3em;
}

.soc__icon i {
    margin: 0 0.4em;
    color: #464646;
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.5s;
}

.soc__icon i:hover {
    transform: translateY(-10px);
}

.uni__title {
    text-align: center;
    margin-top: 4em;
}

.swiper-container {
    width: 100%;
    height: 200px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our__service__title {
    text-align: center;
    margin-top: 8em;
}

.our__service__title h1 {
    display: block;
    line-height: 3em;
}

.our__service__title p {
    color: #5d5d5d;
}

.service__card__row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

.service__card {
    position: relative;
    background: #fff;
    width: 400px;
    height: 350px;
    margin: 0.5em 4em;
    padding: 2.2em;
    box-shadow: 3px 3px 30px rgb(240, 240, 240);
    cursor: pointer;
    transition: 0.5s;
}

.service__card:hover {
    transform: translateY(-10px);
}

.service__card::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 3px;
    background: #717CFF;
    transition: 1s ease-in-out;
}

.service__card:hover::before {
    width: 100%;
}

.learn__more {
    color: #717CFF;
}

.learn__more__link {
    display: flex;
    align-items: center;
    margin-top: 2em;
}

.learn__more__link i {
    margin: 0 1em;
    color: #717CFF;
}

.service__inner__block {
    display: block;
}

.service__inner__text p {
    color: #5d5d5d;
}
.news__title h1{
    line-height: 3em;
}
.news__title{
    text-align: center;
    margin-top: 9em;
}
.blog__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}
.blog__container img{
    cursor: pointer;
}










@media screen and (max-width: 1500px) {
    .service__card__row {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 1055px){
     .service__card {
        width: 90%;
        text-align: center;
        margin: 1.5em 0;
    }
}
@media screen and (max-width: 1050px) {
    .hero__section {
        flex-direction: column;
    }

    .hero__inner__content {
        text-align: center;
    }

    .hero__btn {
        width: 70%;
        margin: auto;
        margin-top: 2.5em;
    }

    .girl__img,
    .hero__section::before {
        display: none;
    }

    .hero__socmedia {
        margin-top: 3em;
    }


    .learn__more__link {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 620px) {
    .hero___title h1 {
        font-size: 2.6em;
    }

    .hero__inner__content p {
        font-size: 0.7em;
    }

    .swiper-slide img {
        width: 85%;
    }

}

@media screen and (max-width: 500px) {

    .service__inner__text p,
    .our__service__title {
        font-size: 0.8em;

    }
}

/*-----------Navigation--------------*/
@media only screen and (max-width: 900px) {
    .nav-menu {
        position: fixed;
        right: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #717CFF;
        width: 45%;
        text-align: center;
        transition: 1s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        right: 0;
    }

    .nav-item {
        margin: 1rem 1rem;
    }

    .nav-link {
        color: #fff;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}